<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIS440 - Home</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/home-scripts.js"></script>
    <meta name="theme-color" content="#7952b3">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
</head>
<body class="text-center">
    <div class="titlecontainer">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary navbar sticky-top">
            <a class="navbar-brand" href="#">Hi <%= username %></a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <form action="/home" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" style="font-weight: bold;" value="Home"></input>
                    </form>
                    <form action="/admin" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" value="Admin"></input>
                    </form>
                    <form action="/logout" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" value="Logout"></input>
                    </form>
                </div>
            </div>
        </nav>
      </div>
        <div id="homePanel" class="contentPanel container row-fluid overflow-auto">
            <h1 class="h3 mb-3 fw-normal row d-flex justify-content-center">Home</h1>
            <h5 style="padding-bottom: 15px; padding-top: 20px;">User Issues</h5>
            <% if(manager) { %>
              <button type="button" class="btn btn-primary" onclick="openModal('submitIssueModal')">Submit New Post</button>
            <% } else { %>
              <button type="button" class="btn btn-primary" onclick="openModal('submitIssueModal')">Submit New Issue</button>
            <% } %>
            <% if(manager) { %>
              <button id='mrgBtn' type="button" class="btn btn-primary" onclick="openModal('viewIssuesModal')">View All Issues</button>
            <% } else { %>
              <button id='usrBtn' type="button" class="btn btn-primary" onclick="openModal('viewIssuesModal')">View My Issues</button>
            <% } %>
            <div id="submitIssueModal" class="modal">
              <div class="modal-content">
                <span class="close cursor" onclick="closeModal()" style="color: black;">&times;</span>
                <form action="/user-post" method="post">
                    <% if(manager) { %>
                      <h1 class="h3 mb-3 fw-normal">New Post</h1>
                    <% } else { %>
                      <h1 class="h3 mb-3 fw-normal">New Issue</h1>
                    <% } %>
                    <% if(manager) { %>
                      <label style="padding-bottom: 10px;">Post Title</label>
                    <% } else { %>
                      <label style="padding-bottom: 10px;">Issue Title</label>
                    <% } %>
                    <textarea class="form-control" id="staticTitle" rows="1" style="margin: 0 auto; max-width: 300px; margin-bottom: 10px;"></textarea>
                    <% if(manager) { %>
                      <label style="padding-bottom: 10px;">Post Details</label>
                    <% } else { %>
                      <label style="padding-bottom: 10px;">Issue Details</label>
                    <% } %>
                    <textarea class="form-control" id="staticIssueBody" rows="10" style="margin: 0 auto; max-width: 300px; margin-bottom: 10px;"></textarea>
                    <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="submitIssue(this.form)" style="margin-top: 10px; border-radius: 0px;">Submit</button>
                </form>
              </div>
            </div>
            <div id="viewIssuesModal" class="modal">
              <div class="modal-content" style="max-width: 800px;" id="viewIssuesContent">
                <span class="close cursor" onclick="closeModal()" style="color: black;">&times;</span>
                <h1 class="h3 mb-3 fw-normal">My Issues</h1>
              </div>
            </div>
            <h5 style="padding-bottom: 20px; padding-top: 20px;">Recent Topics</h5>
            <div class="row">
            <% data.forEach(function(d) {%>
              <div class="col-sm-6">
            <div class="card" style="width: 18rem; margin: 0 auto; margin-bottom: 25px; border-radius: 25px;">
                <div class="card-body">
                  <h5 class="card-title"><%= d.SubjectLine %></h5>
                  <form action='/view-post?id=<%= d.UserPostID %>' method='post'>
                    <button type='submit' class='view'>View Full Post</button>
                  </form>
                </div>
              </div>
            </div>
            <% }); %>
            </div>
          </div>
      </body>
</html>