<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIS440 - Home</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="theme-color" content="#7952b3">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
</head>
<body class="text-center">
    <div class="titlecontainer"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Hi <%= username %></a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <form action="/home" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" style="font-weight: bold;" value="Home"></input>
                    </form>
                    <form action="/management" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" value="Management"></input>
                    </form>
                    <form action="/admin" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" value="Admin"></input>
                    </form>
                    <form action="/logout" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" value="Logout"></input>
                    </form>
                </div>
            </div>
        </nav>
        <div id="homePanel" class="contentPanel fixed-top container row-fluid">
            <h1 class="h3 mb-3 fw-normal row d-flex justify-content-center">Home</h1>
            <h1 class="h5 mb-3 fw-normal row d-flex justify-content-center">create new post</h1>
            <div class="row  d-flex justify-content-center">
              <form class="col-8">
                <input class="form-control form-control-lg" id="newPostTitle" type="text" placeholder="Title"></input>
                <textarea class="form-control" id="newPostContent" rows="4" placeholder="Write Something...."></textarea>
                <button id="submit" class="w-100 btn btn-lg btn-primary col-4" type="submit">Sign In</button>
              </form>
            </div>
            <h1 class="h5 mb-3 mt-5 fw-normal row d-flex justify-content-center">recent posts</h1>
            <div class="row">
            <% data.forEach(function(d) {%>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= d.SubjectLine %></h5>
                  <p class="card-text"><%= d.PostContent %></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            <% }); %>
            </div>
          </div>
      </body>
</html>