<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIS440 - Home</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="theme-color" content="#7952b3">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .contentPanel {
            top: 70px;
        }

        .newAccountPanel {
            width: 800px;
            margin: 30px auto;
        }

        .form-signin {
            width: 800px;
            margin: 30px auto;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
</head>
<body class="text-center">
    <div class="titlecontainer">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Hi <%= username %></a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <form action="/home" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" value="Home"></input>
                    </form>
                    <form action="/management" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" value="Management"></input>
                    </form>
                    <form action="/admin" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" style="font-weight: bold;" value="Admin"></input>
                    </form>
                    <form action="/logout" method="get" class="nav-item nav-link">
                        <input type="submit" class="nav-item nav-link" value="Logout"></input>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="form-signin" id="logoutPanel">
        <form action="/logout" method="get">
            <button class="w-25 btn btn-lg btn-primary" type="submit">Log Out</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
        </form>
    </div>
    <div id="newAccountPanel" class="contentPanel newAccountPanel fixed-top">
        <form action="/examples/actions/confirmation.php" method="post">
            <h2>Sign Up</h2>
            <p>Fill out this form to request an account!</p>
            <hr>
            <div class="form-group">
                <input type="text" class="form-control" name="id" placeholder="ID #" required="required">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button class="w-25 btn btn-lg btn-primary" type="submit">Submit Request</button>
            </div>
        </form>
    </div>
    <div id="homePanel" class="contentPanel fixed-top">
        <h1 class="h3 mb-3 fw-normal">Home</h1>
    </div>
    <div id="adminPanel" class="contentPanel fixed-top">
        <h1 class="h3 mb-3 fw-normal">Administration</h1>
        <div id="requestsPanel" class="contentPanel">
            <div class="left">Account requests</div>
            <hr />
            <div class="accountsBox" id="requestsBox">
            </div>
        </div>
    </div>
    <div id="managementPanel" class="contentPanel fixed-top">
        <h1 class="h3 mb-3 fw-normal">Management</h1>
    </div>
</body>
    <script type="text/javascript">
        var contentPanels = ['logoutPanel', 'newAccountPanel', 'homePanel', 'adminPanel', 'managementPanel'];
        function showPanel(panelId) {
            clearData();
            for (var i = 0; i < contentPanels.length; i++) {
                if (panelId == contentPanels[i]) {
                    $("#" + contentPanels[i]).css("visibility", "visible");
                }
                else {
                    $("#" + contentPanels[i]).css("visibility", "hidden");
                }
            }
        }

        function clearData() {
            clearNewAccount();
        }

        function clearNewAccount() {
            $('#newLogonId').val("");
            $('#newLogonPassword').val("");
            $('#newLogonFName').val("");
            $('#newLogonLName').val("");
            $('#newLogonEmail').val("");
        }

        jQuery(function () {
            //when jquery loads this function runs to make sure homePanel is the first thing shown
            showPanel('homePanel');
        });
    </script>
</html>