<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIS440 - Request</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css\request.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script type="text/javascript" src="js\request-scripts.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<meta name="theme-color" content="#7952b3">
    <!-- Custom styles for this template -->
	<link href="css\main.css" rel="stylesheet">
  <link href="css\request.css" rel="stylesheet">
  </head>
  <body class="text-center">
<main class="form-request">
  <form id="sign-up-form" action="/request" method="post">
    <h1 class="h3 mb-3 fw-normal" style="padding-top: 90px;">Request Account</h1>
	<input type="email" id="inputEmail" class="form-control" placeholder="Email" name='email' required>
    <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" name='fname' required>
	<input type="text" id="inputLastName" class="form-control" placeholder="Last Name" name='lname' required>
	<select id="department-dropdown" onchange="selectDepartment()" required>
		<option value="default" disabled selected>Select Department</option>
		<% data.forEach(function(d) {%>
		<option class="department-options" value="<%= d.DepartmentID %>"><%= d.DepartmentName %></option>
		<% }); %>
	</select>
	<select id="job-dropdown" required>
		<option class="job-option" value="default" disabled selected>Select Job Title</option>
	</select>
    <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="submitRequest(this.form)" style="margin-top: 10px; margin-bottom: 10px;">Submit</button>
	<span>Have an account? Log in <a href="/">here</a></span>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
  </form>
</main>
  </body>
</html>