/* home.css */
body {
    padding-top: 0px;
}

input[type="submit"] {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    color: lightblue;
}

.homePanel {
    margin-top: 20px;
}